<h1>Admin</h1>

<form name="access-log" class="form-horizontal form-search" autocomplete="off" method="GET" data-next="JSON" data-spa="access" data-template="accesslog">
<div class="container-fluid">
  <div class="admin-access">
    <div class="form-head">
      <div class="onerow">
        <div class="form-filter-method left">
          <select name="filter-method" class="form-control">
            <option></option>
            <option>GET</option>
            <option>POST</option>
            <option>PUT</option>
            <option>DELETE</option>
          </select>
        </div>
        <div class="form-filter-url">
          <input type="text" name="filter-url" class="form-control" placeholder="url">
        </div>
        <div class="form-filter-user">
          <input type="text" name="filter-user" class="form-control" placeholder="username">
        </div>
        <div class="form-filter-session">
          <input type="text" name="filter-session" class="form-control" placeholder="session">
        </div>
        <div class="form-filter-ip">
          <input type="text" name="filter-ip" class="form-control" placeholder="ip">
        </div>
        <div class="form-filter-time">
          <input type="text" name="filter-time" class="form-control" placeholder="date">
        </div>
        <div class="clear_left"></div>
      </div>
    </div>
    <div class="form-body" id="access">
      {{#each requests}}
      <div class="onerow">
        <div>GET</div>
        <div><a href="{{req.url}}" spa="none">{{url}}</a></div>
        <div>{{user}} </div>
        <div>{{session}} </div>
        <div>{{ip}} </div>
        <div>{{moment created}} </div>
        <div class="clear_left"></div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
</form>

<script>

  $('.form-search input').keyup(function(e) { $('.form-search').submit() });
  /*$('input').keyup(function(e) {
    var filter = document.forms['access-log'];
    var filterOptions = {};
    try {
      var fUrl = filter['filter-url'].value;
      if (fUrl) {
        new RegExp(fUrl);
        filterOptions.url = fUrl;
      }

      var fUser = filter['filter-user'].value;
      if (fUser) {
        new RegExp(fUser);
        filterOptions.user = fUser;
      }

      var fSession = filter['filter-session'].value;
      if (fSession) {
        new RegExp(fSession);
        filterOptions.session = fSession;
      }

      //console.log(filterOptions);
      entry.blog.updateContainer('/admin/access', 'access', true, filterOptions);
    } catch(e) {
      console.log('Wrong regexp'+e);
    }
  });*/
</script>