<h1>Cloudpolis</h1>
<div>
  <h3>What is this?</h3>
  <p>It's a personal project what started as online music player app.
    At first I'm developing it for myself and not for any profit.
    Later it'll be a place for some html5 games.<br>
    Most part of it's app is in progress so please don't panic if something went wrong.
    Actually I haven't added this site to any search machine and you shouldn't see this page.
    There are three ways: I gave you a link;
    you just putted <a href="http://cloudpolis.ru">cloudpolis.ru</a> to the url box or you are a bot. </p>
  <h3>What technologies are used?</h3>
  <p>Too many to count. And list is getting big and big.<br>
    Prehaps I'll publish sources to GitHub when this app is finished.</p>
  <h3>What features will be next?</h3>
  <h4>Admin</h4>
  <p>Advanced access log, statistic, control panel.</p>
  <h4>Posting</h4>
  <p>Multipaging, multiblog system, comments, advanced editing.</p>
  <h4>Framework</h4>
  Listen. It's 2:47 A.M. I want to sleep. I'll finish this page later, ok?
  I have gone.
</div>
<div style="height: 2000px"></div>