/* General */

a {
  color: #00B7FF;

}

textarea {
  max-width: 100%;
}

.add-post-form textarea {
  min-height: 400px;
}

.navbar-static-top{
  margin-bottom: 0px;
  margin-top: 50px;
  /*background: #DBF6FF;*/
  background: rgba(255, 255, 255,0.7);
}

body {
  /*background: #ADEBFF;*/
  background: rgba(188, 222, 242, 0.35);
  min-width: 360px;
}

.section-container {
  padding-top: 10px;
}

.section {
  /*background: #DBF6FF;*/
  background: rgba(255, 255, 255,0.7);
  /*margin: 10px 10px 10px 10px;*/
  /*border-radius: 10px;*/
  z-index: 100;
}

.section-right {
  padding: 10px;
}

.float-left {
  float: left;
  padding: 10px;
}

img {
  max-width: 100%;
}

.float-clear {
  clear: left;
}

/* Player */

.bar-player.navbar-static-top{
  margin-top: 0px;
}

.bar-player{
  height: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(255, 255, 255,0.7);
}

.player-buttons {
  cursor: default;
  font-size: 14pt;
  margin-left: -10px;
  margin-right: -10px;
}

.player-buttons .navbar-right{
  float: right;
}

.progress-player {
  cursor: default;
  font-size: 10pt;
  height: 40px;
  position: relative;
  background: #ADEBFF;
}

.musicinfo {
  padding-top: 5px;
  padding-left: 15px;
  height: 35px;
}

.musictime {
  padding-top: 2px;
  height: 35px;
  float: right;
  margin-right: 5px;
  width: 35px;
}

.musiclength {
  padding-top: 22px;
  height: 35px;
  float: right;
  margin-right: -35px;
}


.bar-player li {
  float: left;
  margin-right: 0px;
  margin-left: 0px;
}

.bar-player ul {
  float: left;
  margin-right: 0px;
  margin-left: 0px;
}

#musicbar {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* Playlist */

.playmenu {
  position: fixed;
  right: 1px;
  width: 340px;
  top: 50px;
  bottom: 10px;
  z-index: 4000;
  display: none;

  background: rgba(188, 222, 242,0.7);
  border-radius: 1px;
  padding: 5px;
}

.playmenu .pagination {
  margin-top: 0px;
  margin-bottom: 0px;
}

.playlist {
  position: fixed;
  top:90px;
  bottom: 85px;
  width: 330px;
  overflow-y: auto;
  background: rgba(255, 255, 255,0.7);
  padding-left: 0px;
  border-radius: 5px;
}

.playmenu_bottom {
  position: fixed;
  bottom: 15px;
  width: 330px;
  padding-left: 0px;
  border-radius: 5px;
}

.playmenu_bottom button {
  width: 320px;
}

.playmenu_bottom li {
  width: 320px;
}

.ui-effects-wrapper .playmenu{
  right: 1px;
  bottom: 10px;
}

.ui-effects-wrapper .playlist{
  position: relative;
  top: -5px;
  height: 100%;
}

.ui-effects-wrapper .playmenu_bottom{
  position: relative;
}

.playmenu .fa.active {
  background: rgba(255, 255, 255,0.7);
}

.playmenu .fa {
  font-size: 12pt;
  padding-right: 15px;
  padding-left: 15px;
}

.playmenu li > a {
  background: none;
  border: none;

}

.pagination>li>a:hover, .pagination>li>a:focus {
  background-color: transparent;
}

html {
  overflow-y: scroll;
}

.playmenu #volume {
  width: 90px;
  position: relative;
  float: right;
  margin-top: 5px;
}



/* Library */

.library {
  padding: 10px;
  z-index: 200;
}

.compilations {
  background-color: #EFF;
  padding: 10px;
  overflow-y: auto;

  position: fixed;
  width: 200px;
  left: 0px;
  top: 100px;
  bottom: 0px;
}


.compilationinfo {
  background-color: #EEF;
  padding: 10px;
  overflow-y: auto;

  position: fixed;
  left: 200px;
  top: 100px;
  bottom: 0px;
  right: 0px;
}

.library tr {
  cursor: default;
}

/* Songlist */

.songlist li {
  display: block;
  list-style-type: none;
  margin-left: -40px;
  cursor: default;
  min-width: 300px;
}

.track_cover {
  float: left;
  width: 32px;
  height: 32px;
  padding-top: 8px;
  text-align: center;
}

.track_info {
  float: left;
  overflow: hidden;
  height: 48px;
}

.track_info div:nth-child(1) {
  font-size: 14pt;
}

.track_info div:nth-child(2) {
  font-size: 10pt;
}

.track_end {
  float: right;
  clear: left;
}

.clear_left {
  clear: left;
}

/* Playlist (based on songlist)*/

/*.playlist li {
  list-style-type: none;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  margin-top: 1px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #1c94c4;
  border-radius: 2px;
  cursor: default;
}*/

.playlist {
  margin-left: 0px;
}

.playlist .track_info {
  overflow: hidden;
  width: 230px;
  white-space: nowrap;
}

.playlist .track_info div:nth-child(1) {
  font-size: 10pt;
  width: 230px;
}

.playlist .track_info div:nth-child(2) {
  font-size: 8pt;
  width: 230px;
}


/* Admin */
.admin-access.table > thead > tr > th {
  padding: 2px;
}

.admin-access.table > thead > tr > *:nth-child(1) {
  width: 5%;
}
.admin-access.table > thead > tr > *:nth-child(2) {
  width: 40%;
}
.admin-access.table > thead > tr > *:nth-child(3) {
  width: 12%;
}
.admin-access.table > thead > tr > *:nth-child(4) {
  width: 18%;
}
.admin-access.table > thead > tr > *:nth-child(5) {
  width: 10%;
}
.admin-access.table > thead > tr > *:nth-child(6) {
  width: 10%;
}
.admin-access.table > thead > tr > *:nth-child(7) {
  width: 5%;
}

/* Info, Errors */

.info-error {
  position: fixed;
  bottom: 20px;
  height: 40px;
  background: rgba(255, 48, 48,0.9);
  border-radius: 5px;
  left:50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
  line-height: 40px;
  z-index: 9000;
}