{% extends '_layouts/page.html' %}
{% block title %}Music{% endblock %}


{% block content %}
<h1>{% block title %}{% endblock %}</h1>

<div><a href="/music/artists/" data-spa="main">Исполнители</a></div>
<div><a href="/music/library/" data-spa="main">Библиотека</a></div>
<div>
  <ul class="songlist">
    <li data-spa="player" data-href="000" data-title="123" data-artist="456" data-album="789">
      <div class="track_end"><span class="fa fa-plus" data-add="plus"></span></div>
      <div class="track_cover"><span class="fa fa-play" data-add="play"></span></div>
      <div class="track_info">
        <div>123</div>
        <div>456 - 789</div>
      </div>
      <div class="clear_left"></div>
    </li>
  </ul>
</div>
{% endblock %}