{% extends '_layouts/page.html' %}
{% block title %}[[songs[0] ? songs[0].name : 'Music']] {% endblock %}


{% block content %}
<h1>{% block title %}{% endblock %}</h1>




<div class="container-fluid">
  <div class="row-fluid library">
    <div class="compilations">
      {% for compilation in compilations %}
      <a href="/music/library/[[compilation.name]]" data-spa="compilationinfo">[[compilation.name]]</a><br>
      {% endfor %}
    </div>
    <div class="compilationinfo" id="compilationinfo" data-template="hb_songlist">
      {% if songs[0] %}
        <table class="table">
          {% for song in songs['0'].songs %}
            <tr data-spa="player" data-href="/artists/[[song.path]]" data-title="[[song.title]]" data-artist="[[song.artist]]" data-album="[[song.album]]">
              <td><span class="fa fa-play" data-add="play"></span></td>
              <td>[[song.title]]</td>
              <td>[[song.artist]]</td>
              <td>[[song.album]]</td>
              <td><span class="fa fa-plus" data-add="plus"></span></td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>Select compilation for load songlist.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}