<h1>songs[0] ? songs[0].name : 'Music'</h1>

<div class="container-fluid">
  <div class="row-fluid library">
    <div class="compilations">
      {{#each compilations }}
      <a href="/music/library/{{name}}" data-spa="compilationinfo">{{name}}</a><br>
      {{/each}}
    </div>
    <div class="compilationinfo" id="compilationinfo" data-template="songlist">
      {{#if songs}}
      <ul class="songlist">
        {{#each songs.songs as |song songId|}}
          {{> musicSong song}}
        {{/each}}
      </ul>
      {{else}}
        <p>Select compilation for load songlist.</p>
      {{/if}}
    </div>
  </div>
</div>