{% extends '_layouts/page.html' %}
{% block title %}{{songs[0] ? songs[0].name : 'Music'}} {% endblock %}


{% block content %}
<h1>{% block title %}{% endblock %}</h1>




<div class="container-fluid">
  <div class="row-fluid library">
    <div class="compilations">
      {% for compilation in compilations %}
      <a href="/music/library/{{compilation.name}}" data-spa="compilationinfo">{{compilation.name}}</a><br>
      {% endfor %}
    </div>
    <div class="compilationinfo" id="compilationinfo" data-template="songlist">
      {% if songs[0] %}
      <ul class="songlist">
        {% for song in songs['0'].songs %}
          {% include 'music/_song.html' %}
        {% endfor %}
      </ul>
      {% else %}
        <p>Select compilation for load songlist.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}