{% extends '_layouts/page.html' %}
{% block title %}Search{% endblock %}


{% block content %}
<h1>{% block title %}{% endblock %}</h1>

<div class="container-fluid">
  <form class="form-horizontal form-search" name="form-search">
    <div class="form-group">
      <input type="text" name="filter-query" class="form-control">
    </div>
  </form>
</div>
<div>
  <div class="searchsongresult" id="compilationinfo" data-template="songlist">
    <ul class="songlist">
      {% for song in songs %}
        {% include 'music/_song.html' %}
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  $('.form-search input').keyup(function(e) { $('.form-search').submit() });
</script>
{% endblock %}