{% extends '_layouts/page.html' %}
{% block title %}Search{% endblock %}


{% block content %}
<h1>{% block title %}{% endblock %}</h1>

<div class="container-fluid">
  <form class="form-horizontal form-search" name="form-search" autocomplete="off" method="GET" data-next="JSON" data-spa="compilationinfo" data-template="songlist">
    <div class="form-group">
      <input type="text" name="query" class="form-control">
    </div>
  </form>
</div>
<div>
  <div class="searchsongresult" id="compilationinfo" data-template="songlist">
    <ul class="songlist">
      {% for song in songs %}
        {% include 'music/_song.html' %}
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  $('.form-search input').keyup(function(e) { $('.form-search').submit() });
  /*
  window.formHelpers.updateSearchResult = function(target) {
    var filter = document.forms['form-search'];
    var filterOptions = {};
    try {
      var fQuery = filter['filter-query'].value;
      if (fQuery) {
        new RegExp(fQuery);
        filterOptions.query = fQuery;
      }

      //console.log(filterOptions);
      //updateContainer('/music/search', 'searchsongresult', true, filterOptions);
      blog.applyTemplate('/music/search', 'compilationinfo', 'songlist', filterOptions);
    } catch (e) {
      console.log('Wrong regexp');
      console.log(e);
    }
  }*/
</script>
{% endblock %}