<h1>{{post.name}}</h1>
<p>Опубликовано: <time datetime="{{momentTag post.created}}">{{momentFrom post.created}}</time>
  автором <a href="/users/{{post.author}}" data-spa="main">{{post.author}}</a></p>
<a href="/posts/{{post._id}}/edit" data-spa="main">Edit</a>
<a href="/posts/{{post._id}}/delete" data-spa="main">Delete</a>
<article>
  {{safe post.rendered}}
  <div class="clear"></div>
</article>
<br>
<div class="container-fluid" id="comments">
  <div class="container-fluid">
    {{#if comments}}

      <h4>Комментарии ({{comments.length}}): </h4>
      {{#each post.comments}}
      <div>
        <a href="/users/{{author}}" data-spa="main">{{author}}</a> <time datetime="{{momentTag created}}">{{momentFrom created}}</time>
        <p>{{text}}</p>
      </div>
      {{/each}}
    {{else}}
        <h4>Комментариев пока нет...</h4>
    {{/if}}
  </div>
  <form class="form-horizontal" name="comment-form" method="post">
    <div class="form-group">
      <textarea name="text" class="form-control" placeholder="Комментарий"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Отправить</button>
      <div class=".error"></div>
    </div>
  </form>
</div>